* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(218, 211, 218);
}

/* CSS for header section */
.header {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-weight: bolder;
    border: 2px dotted green;
    padding: 24px;
}

/* CSS for controls section */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px dotted yellow;
    padding: 20px;
}

.drawControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted red;
    padding: 12px;

}

.canvasControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted blue;
    padding: 12px;

}

/* CSS for grid section */
.grid {
    display: flex;
    justify-content: center;
    border: 2px dotted pink;
    padding: 12px;
}

.divContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 480px;
    aspect-ratio: 1 / 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    /* border: 1px solid green; */

}

.square {
    border: 1px solid gray;
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
}

/* CSS for footer section */
.footer {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 14px;
    border: 2px dotted purple;
    padding: 12px;

}