* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(218, 211, 218);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid gray;
    width: 480px;
    aspect-ratio: 1 / 1;
}

.square {
    flex: 1 1 auto;
    border: 1px solid purple;
    /* width: 200px; */
    aspect-ratio: 1 / 1;
    /* background-color: purple; */

}